.time-slot-container {
  border: transparent;
  width: 100px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px;

  &.true {
    background-color: orange;
  }
}

.time-slot-container:hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  .time-slot-container {
    width: 80%;
    padding: 10px;
    font-size: 14px;
  }
}