.home-about-container {
  margin-top: 300px;
  width: 40vw;
}

.home-about-title {
  font-size: 80px;
  font-family: 'League Gothic', sans-serif;
  margin-top: 90px;
  margin-bottom: 40px;
}

.home-about-info {
  margin-top: 0;
  font-size: 40px;
}