@import '../../styles/variables.scss';

.signup-container {
  display: flex;
  flex-direction: column;
  width: 35vw;
  align-items: center;
  justify-content: center;
  margin-right: 15%;
}

.signup-title {
  margin-top: 100px;
  margin-bottom: 10px;
  font-family: $title-font;
  font-size: 60px;
  text-transform: uppercase;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.sign-in-prompt {
  color: $primary-orange;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }
}

.form-floating.mb-3 {
  width:100%;
}

@media only screen and (max-width: 767px) {
  .signup-container {
    width: 90vw;
    height: 60vh;
    margin-top: 80px;
    margin-right: 0;
  }

  .signup-form {
    align-items: center;
    width: 100%;
    margin-bottom: 0px;
  }

  .signup-title {
    font-size: 50px;
  }

  .form-floating.mb-3 {
    width:100%;
  }
  
  .form-control {
    width: 100%;
    border: none;
    background-color: #f8f7f7;
  }

  label {
    width: 100%;
  }

  .already-have-account {
    margin-top: 80px;
  }

 
}